@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{margin:0}

*{font-family: 'Roboto', sans-serif;}

button{
  transition: .3s;
  &:hover{
    cursor: pointer;
    filter: drop-shadow(.25rem .25rem .5rem blue) invert(75%);
  }
}

